<div>
  <button class="back" (click)="back()">Back</button>
  <div *ngIf="movieDetails" class="movieinfo">
    <!--                <PosterPreview poster_path={movieDetails.poster_path} title={movieDetails.title}-->
    <!--  width={urlsImage.w780}/>-->
    <app-poster-preview class="info-img" [urlImage]="movieDetails.poster_path" [title]="movieDetails.title" [widthImage]="widthImage"></app-poster-preview>
    <div class="description">
      <div><h1>{{movieDetails.title}}</h1></div>
      <div><p>{{movieDetails.overview}}</p></div>
      <div>{{movieDetails.adult ? "For adult" : 'For all adults'}}</div>
      <div>Original language: {{movieDetails.original_language}}</div>
      <div>Release date: {{movieDetails.release_date}}</div>
      <div>Runtime: {{movieDetails.runtime}}</div>
      <div>
        Genres: <span *ngFor="let genre of movieDetails.genres">{{genre.name}} </span>
      </div>
      <app-stars-rating [voteAverage]="movieDetails.vote_average"></app-stars-rating>

    </div>
  </div>
</div>
